<div class="nested-fields">
  <div class="clearfix">
    <%= link_to_remove_association t('Remove'), f %>
  </div>
  <%= f.input :s_tool do %>
      <%= f.select :s_tool_id, STool.options_for_select, {include_blank: ''}, {class: 'form-control s-object s-tool'} %>
      <small></small>
  <% end %>

  <%= f.input :s_tool_state, collection: [[t(:new), :new], [t(:good), :good] , [t(:normal),:normal], [t(:bad),:bad], [t(:need_repair),:need_repair]], :input_html => {class: 's-tool-state'} %>
  <%= f.input :s_comment, as: :text, :input_html => {class: 's-comment'} %>

</div>