<div id="filterrific_results">
  <table class="table table-condensed table-hover table-valign-middle">
    <thead>
    <tr>
      <th><%= filterrific_sorting_link(@filterrific, :date, {label: t('Date')}) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :status, {label: t('Status')}) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :name, {label: t('Employee')}) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :facility, {label: t('Facility')}) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :payment_type, {label: t('simple_form.labels.daily_timesheet.payment_type')}) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :total, {label: t('Total')}) %></th>
      <th><%= t('Penalty') %></th>
      <th class="centered actions"><%= t('Actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @daily_timesheets.each do |timesheet| %>
        <tr>
          <td style="white-space: nowrap;">
            <% if policy(timesheet).can_view? %>
                <%= link_to(human_date_format(timesheet.date, "%d.%m.%y (%a)") + ' ' +timesheet.time_period, edit_daily_timesheet_path(timesheet)) %>
            <% else %>
                <%= human_date_format(timesheet.date, "%d.%m.%y (%a)") + ' ' +timesheet.time_period %>
            <% end %>
          </td>
          <td><%= timesheet.daily_timesheet_status %></td>
          <td><%= timesheet.employee %></td>
          <td><%= timesheet.facility %></td>
          <td><%= timesheet.payment_type ? timesheet.payment_type.name : t('.Not set')%></td>
          <td><%= number_to_currency(timesheet.total_amount) %></td>
          <td><%= number_to_currency(timesheet.penalty_amount) %></td>

          <td class="centered">
            <% if policy(timesheet).can_view? %>
                <%= link_to timesheet, class: 'btn btn-sm btn-default', title: t('Show') do %>
                    <i class='fa fa-lg fa-eye'></i>
                <%- end -%>
            <% end %>
            <% if policy(timesheet).can_edit? %>
                <%= link_to edit_daily_timesheet_path(timesheet), class: 'btn btn-sm btn-default', title: t('Edit') do %>
                    <i class='fa fa-lg fa-pencil-square-o'></i>
                <%- end -%>
            <% end %>
            <% if policy(timesheet).can_delete? %>
                <%= link_to daily_timesheet_path(timesheet), method: :delete, data: { confirm: t('Are you sure?') }, class: 'btn btn-sm btn-danger', title: t('Delete') do %>
                    <i class='fa fa-lg fa-trash-o'></i>
                <%- end -%>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-2 col-xs-2" style="margin-top: -5px;">
      <label class="control-label" style="font-weight: 300;font-size: 80%;"><%= t('Records per page') %></label>
      <select id="per_page_select" name="per_page" class="form-control">
        <% [10, 15, 20, 25, 50, 100].each do |per_page| %>
            <option value="<%= per_page %>" <% if @selected_per_page.to_i == per_page %>selected="selected"<%- end -%> data-url="<%= request.url %>"><%= per_page %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-6 col-xs-10" style="margin-top:25px;"><%= page_entries_info @daily_timesheets %></div>
    <div class="col-md-4"><%= page_navigation_links @daily_timesheets %></div>
  </div>
</div>

