<% content_for :title do %>
<%= t('.Create Daily Timesheet') %>
<% end %>

<% content_for :page_header do %>
<%= t('.Create Daily Timesheet') %>
<% end %>

<div class="fix-height">
  <div class="btn-actionbar">
    <%= link_to @return_to, class: 'btn btn-app' do %>
    <i class='fa fa-chevron-left'></i>
    <span><%= t('Back to list') %></span>
    <%- end -%>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
          <%= render partial: 'form' %>
    </div>
  </div>
</div>
<% if params[:employee_id] %>
  <script>
    $(document).ready(function() {
      $('#daily_timesheet_employee_id').val(<%= params[:employee_id] %>).trigger('change');
    });
  </script>
<% end %>