<% content_for :title do %>
    <%= t('.Position Management') %>
<% end %>

<% content_for :page_header do %>
    <%= t('.Position Management') %>
<% end %>

<div class="fix-height">
  <div class="btn-actionbar">
    <% if policy(:position).can_create? %>
        <%= link_to new_position_path, class: 'btn btn-app' do %>
            <i class='fa fa-plus-square-o'></i>
            <span><%= t('Add new') %></span>
        <%- end -%>
    <% end %>
  </div>

  <table class="table table-bordered table-striped table-valign-middle">
    <thead>
    <tr>
      <th><%= t('.Name') %></th>
      <th class="centered actions"><%= t('Actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @positions.each do |position| %>
        <tr>
          <td><%= position.name %></td>
          <td class="centered">
            <% if policy(position).can_view? %>
                <%= link_to position_path(position), class: 'btn btn-sm btn-default', title: t('View') do %>
                    <i class='fa fa-lg fa-eye'></i>
                <%- end -%>
            <% end %>
            <% if policy(position).can_edit? %>
                <%= link_to edit_position_path(position), class: 'btn btn-sm btn-default', title: t('Edit') do %>
                    <i class='fa fa-lg fa-pencil-square-o'></i>
                <%- end -%>
            <% end %>
            <% if policy(position).can_delete? %>
                <%= link_to position_path(position), method: :delete, data: { confirm: t('Are you sure?') }, class: 'btn btn-sm btn-danger', title: t('Delete') do %>
                    <i class='fa fa-lg fa-trash-o'></i>
                <%- end -%>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>