<% content_for :title do %>
    <%= t('.Lead Management') %>
<% end %>

<% content_for :page_header do %>
    <%= t('.Lead Management') %>
<% end %>

<div class="fix-height">
  <div class="btn-actionbar">
    <% if policy(:lead).can_create? %>
        <%= link_to new_lead_path, class: 'btn btn-app' do %>
            <i class='fa fa-plus-square-o'></i>
            <span><%= t('Add new') %></span>
        <%- end -%>
    <% end %>
  </div>

  <div class="box">
    <div class="box-body">
      <%= form_for_filterrific @filterrific, html: { class: 'form' }, class:'' do |f| %>
          <div class="row">
            <div class="col-xs-3">
              <%= f.text_field(:search_query, {'placeholder': t('Search'), class: 'form-control' }) %>
            </div>
            <div class="col-xs-3">
              <%= f.select(:with_lead_status_id, @filterrific.select_options[:with_lead_status_id], { include_blank: ''}, {'data-placeholder': t('simple_form.labels.lead.lead_status'), class: 'form-control' }) %>
            </div>
            <div class="col-xs-2">
              <div class="has-icon date">
                <%= f.text_field(:next_date_gte, class: 'filterrific-periodically-observed form-control datepicker', placeholder: t('Date next visit from')) %>
                <span class="glyphicon glyphicon-calendar form-control-icon"></span>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="has-icon date">
                <%= f.text_field(:next_date_lt, class: 'filterrific-periodically-observed form-control datepicker', placeholder: t('Date next visit to')) %>
                <span class="glyphicon glyphicon-calendar form-control-icon"></span>
              </div>
            </div>
            <div class="centered col-xs-2">
              <%= link_to(t('Reset filters'), reset_filterrific_url, {'class':'btn btn-default'}) %>
            </div>
          </div>
          <%= render_filterrific_spinner %>
      <% end %>
    </div>
  </div>

  <%= render('list') %>

</div>