<% content_for :title do %>
<%= t('View')%> <%= t('Kpi') %>
<% end %>

<% content_for :page_header do %>
<%= t('View')%> <%= t('Kpi') %>
<% end %>

<div class="fix-height">

  <div class="btn-actionbar">
    <%= link_to kpis_path, class: 'btn btn-app' do %>
    <i class='fa fa-chevron-left'></i>
    <span><%= t('Back to list') %></span>
    <%- end -%>

    <% if policy(@kpi).can_edit? %>
      <%= link_to edit_kpi_path(@kpi), class: 'btn btn-app' do %>
      <i class='fa fa-pencil-square-o'></i>
      <span><%= t('Edit') %></span>
      <%- end -%>
    <% end %>

    <% if policy(@kpi).can_delete? %>
      <%= link_to kpi_path(@kpi), method: 'delete', data: { confirm: t('Are you sure?') }, class: 'btn btn-app' do %>
      <i class='fa fa-trash-o'></i>
      <span><%= t('Delete') %></span>
      <%- end -%>
    <% end %>

  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t('Kpi') %> <%= t('Details') %></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <dl class="dl-horizontal">
            
                <dt><%= t('Name') %></dt>
                <dd><%= @kpi.name %></dd>
            
                <dt><%= t('Weight') %></dt>
                <dd><%= @kpi.weight %></dd>
            
                <dt><%= t('Norm') %></dt>
                <dd><%= @kpi.norm %></dd>
            
          </dl>
        </div>
        <!-- /.box-body -->
      </div>

    </div>
  </div>

</div>