<%= simple_form_for @work_type, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f| %>
    <div class="box box-primary">
      <div class="box-body">

        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.input :name %>

          <%= f.association :unit %>

          <%= f.input :price_per_unit, input_html: {min: 0, step: 0.01, value: number_with_precision(f.object.price_per_unit, precision: 2)} %>

          <%= f.association :facility %>

        </div>

        <fieldset>
          <legend>
            <%= t('Tools') %>
            <%= link_to_add_association '<i class="fa fa-plus"></i>'.html_safe, f, :work_type_tools, {'data-association-insertion-node':'.tool_fields', 'data-association-insertion-method': 'append'} %>
          </legend>
          <div class="tool_fields">
            <%= f.simple_fields_for :work_type_tools do |tool|  %>
                <%= render 'work_type_tool_fields', f: tool %>
            <% end %>
          </div>
          <% if @work_type.errors[:work_type_tools].any? %>
              <div class="form-group has-error">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9 col-xs-6">
                  <%= f.error :work_type_tools %>
                </div>
              </div>
          <% end  %>
        </fieldset>

        <fieldset>
          <legend>
            <%= t('Materials') %>
            <%= link_to_add_association '<i class="fa fa-plus"></i>'.html_safe, f, :work_type_materials, {'data-association-insertion-node':'.material_fields', 'data-association-insertion-method': 'append'} %>
          </legend>
          <div class="material_fields">
            <%= f.simple_fields_for :work_type_materials do |adoc|  %>
                <%= render 'work_type_material_fields', f: adoc %>
            <% end %>
          </div>
          <% if @work_type.errors[:work_type_materials].any? %>
              <div class="form-group has-error">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9 col-xs-6">
                  <%= f.error :work_type_materials %>
                </div>
              </div>
          <% end  %>
        </fieldset>

        <fieldset>
          <legend>
            <%= t('Others') %>
            <%= link_to_add_association '<i class="fa fa-plus"></i>'.html_safe, f, :work_type_others, {'data-association-insertion-node':'.other_fields', 'data-association-insertion-method': 'append'} %>
          </legend>
          <div class="other_fields">
            <%= f.simple_fields_for :work_type_others do |adoc|  %>
                <%= render 'work_type_other_fields', f: adoc %>
            <% end %>
          </div>
          <% if @work_type.errors[:work_type_others].any? %>
              <div class="form-group has-error">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9 col-xs-6">
                  <%= f.error :work_type_others %>
                </div>
              </div>
          <% end  %>
        </fieldset>

        <fieldset>
          <legend>
            <%= t('Additionals') %>
            <%= link_to_add_association '<i class="fa fa-plus"></i>'.html_safe, f, :work_type_additionals, {'data-association-insertion-node':'.additional_fields', 'data-association-insertion-method': 'append'} %>
          </legend>
          <div class="additional_fields">
            <%= f.simple_fields_for :work_type_additionals do |a|  %>
                <%= render 'work_type_additional_fields', f: a %>
            <% end %>
          </div>
          <% if @work_type.errors[:work_type_additionals].any? %>
              <div class="form-group has-error">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9 col-xs-6">
                  <%= f.error :work_type_additionals %>
                </div>
              </div>
          <% end  %>
        </fieldset>

      </div>

      <div class="box-footer">
        <div class="form-group">
          <div class='col-sm-offset-3 col-sm-9'>
            <%= button_tag(type: 'submit', class: "btn btn-lg btn-success") do %>
                <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> <%= t('Submit') %>
            <% end %>
            <%= link_to t('Cancel'), work_types_path, class: 'btn btn-lg btn-default' %>
          </div>
        </div>
      </div>

    </div>
<% end %>
