<%% content_for :title do %>
<%%= t('View')%> <%%= t('<%= singular_table_name.titleize %>') %>
<%% end %>

<%% content_for :page_header do %>
<%%= t('View')%> <%%= t('<%= singular_table_name.titleize %>') %>
<%% end %>

<div class="fix-height">

  <div class="btn-actionbar">
    <%%= link_to <%= index_helper %>_path, class: 'btn btn-app' do %>
    <i class='fa fa-chevron-left'></i>
    <span><%%= t('Back to list') %></span>
    <%%- end -%>

    <%% if policy(@<%= singular_table_name %>).can_edit? %>
      <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-app' do %>
      <i class='fa fa-pencil-square-o'></i>
      <span><%%= t('Edit') %></span>
      <%%- end -%>
    <%% end %>

    <%% if policy(@<%= singular_table_name %>).can_delete? %>
      <%%= link_to <%= singular_table_name %>_path(@<%= singular_table_name %>), method: 'delete', data: { confirm: t('Are you sure?') }, class: 'btn btn-app' do %>
      <i class='fa fa-trash-o'></i>
      <span><%%= t('Delete') %></span>
      <%%- end -%>
    <%% end %>

  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%%= t('<%= singular_table_name.titleize %>') %> <%%= t('Details') %></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <dl class="dl-horizontal">
            <% attributes.reject(&:password_digest?).each do |attribute| -%>
                <dt><%%= t('<%= attribute.human_name %>') %></dt>
                <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
            <% end -%>
          </dl>
        </div>
        <!-- /.box-body -->
      </div>

    </div>
  </div>

</div>