<div class="nested-fields">
  <div class="clearfix">
    <%= link_to_remove_association t('Remove'), f %>
  </div>
  <%= f.input :title %>
  <%= f.input :kpi do %>
      <%= f.select :kpi_id, Kpi.for_user(current_user).map { |w| [w.to_s, w.id] }, {include_blank: ''}, {class: 'form-control'} %>
  <% end %>
  <%= f.input :task do %>
      <%= f.select :task_id, Task.assigned_to(@daily_work.user).not_closed.map { |w| [w.to_s, w.id] }, {include_blank: ''}, {class: 'form-control'} %>
  <% end %>
  <%= f.input :hours, as: :string, :input_html => {class: 'w-hours'} %>
  <%= f.input :comment %>
</div>