<%= simple_form_for @unit, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f| %>
<div class="box box-primary">
  <div class="box-body">

    <%= f.error_notification %>

    <div class="form-inputs">

          <%= f.input :name %>

    </div>

  </div>

  <div class="box-footer">
    <div class="form-group">
      <div class='col-sm-offset-3 col-sm-9'>
        <%= button_tag(type: 'submit', class: "btn btn-lg btn-success") do %>
            <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> <%= t('Submit') %>
        <% end %>
        <%= link_to t('Cancel'), units_path, class: 'btn btn-lg btn-default' %>
      </div>
    </div>
  </div>

</div>
<% end %>
